* {
  margin: 0;
  padding: 0;
  box-size: border-box;
}
:root {
  --cor-texto: white;
  --bg-url: url(./assets/bg-mobile-dark.jpg);
  --cor-borda: rgba(255, 255, 255, 0.5);
  --cor-superfice: rgba(255, 255, 255, 0.05);
  --cor-superfice-hover: rgba(0, 0, 0, 0.4);
  --cor-fundo-icone: rgba(255, 255, 255, 0.4);
  --img-icone: url(./assets/MoonStars.svg);
}

.ligth {
  --cor-texto: #000000;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --cor-borda: rgba(0, 0, 0, 0.5);
  --cor-superfice: rgba(0, 0, 0, 0.05);
  --cor-superfice-hover: rgba(0, 0, 0, 0.05);
  --cor-fundo-icone: rgba(0, 0, 0, 0.1);
  --img-icone: url(./assets/Sun.svg);
}

body {
  /*background-image: url(./assets/bg-mobile-dark.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  /*background: color image repeat position/size*/
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--cor-texto);
}

#conteiner {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
/*perfil*/
#perfil {
  text-align: center;
  padding: 24px;
}
#perfil img {
  width: 112px;
}
#perfil p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/*switch*/
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--img-icone) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-out 0.3s;

}
.ligth #switch button {
  animation: slide-in 0.3s forwards; 
}
#switch button:hover{
  outline: 8px solid var(--cor-superfice-hover)
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--cor-superfice);
  border: 1px solid var(--cor-borda);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;

}

/*links*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0px;
}
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--cor-superfice);
  border: 1px solid var(--cor-borda);
  border-radius: 8px;
  -webkit-backdrop-filter: blur (4px);

  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s;
}

ul li a:hover {
  background: var(--cor-superfice-hover);
  border: 1.5px solid var(--cor-branca);
}

#rede-social {
  display: flex;
  justify-content: center;
  gap: 32px;

  padding: 24px 0px;
  font-size: 24px;
}
#rede-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 0.3s;
}
#rede-social a:hover {
  background: var(-cor-fundo-icone);
  padding: 16px;
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
/*media queries*/
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop-dark.jpg);
  }
  .ligth {
   --bg-url: url(./assets/bg-desktop-light.jpg)
}
@keyframes slide-in {
  from {
    left: 0%;
  }
  to {
    left: 60%;
  }
}

@keyframes slide-out {
  from {
    left: 60%;
  }
  to {
    left: 0%;
  }
}
